@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;  
}
a{
    text-decoration: none;
    color: black;
}
ul li{
	list-style-type:none;
}
#header{
    height: 100px;
    width: 100%;
    background-color: #e4b7a0f1;
    position: fixed;
    z-index: 100;
    margin-top: 0px;
}
@keyframes fade-down{
    from{
        opacity: 0;
        transform: translateY(70px); 
    }
    to{
        opacity: 1;
        transform: translateY(0); 
    }
}
#text-blok{ animation: fade-down 1s ease-out;
    animation-fill-mode:both;
}
#logo{
    margin-top: 10px;
    margin-left: 5px;
    width: 10%;
    height: 90px;
    float: left;
    background-color: transparent;
}
#logo img{
    width: 50%;
    padding-top: 10px;
    padding-left: 25px;    
}
#nav{
    width: 47%;
    height: 50px;
    float: right;
    background-color: transparent;
    padding: 25px 20px;
    margin-top: 10px;
}
#nav ul li{
    padding: 10px 20px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
}
#logo h1{
    padding-left: 16px;
    text-transform:uppercase;
    font-weight: 800;
    font-size: medium;
} 
.highlighted:hover{
    color: #a45c40;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/*Naslovna*/
#uvod{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#uvod img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#text-blok{
    position: relative;
    width: 650px;
    margin: 250px auto; 
    transform: translate(-50%, -50%); 
    background-color: rgba(233, 210, 199, 0.938);
    color: #333333;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    z-index: 2;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#main{
    padding: 20px;
    text-align: center;
    background-color: #ecdfc7;
}
.blokovi{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0px;
    justify-items: center;
}
.blok img{
    width: 150px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.blok img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.blok p{
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}
#main2{
    padding: 40px 0px;
    background-color: #ecdfc7;
}
.blokovi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.blok{
    text-align: center;
    width: calc(20% - 10px);
}
#main3{
    padding: 40px 0px 40px 0px;
    background-color: #ecdfc7;
}
#footer{
    background-color: #583a32;
    color: #F6EEE0;
    padding: 40px 20px;
    font-size: 14px;
}
.footer-sekcija{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 250px;
}
.footer-kolona{
    margin-bottom: 20px;
    box-sizing: border-box;
}
.footer-kolona h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: #A45C40;
    font-weight: 700;
}
.footer-kolona ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-kolona ul li{
    margin-bottom: 10px;
}
.footer-kolona ul li a{
    color: #F6EEE0;
    text-decoration: none;
}
.footer-kolona ul li a:hover{
    color: #A45C40;
    text-decoration: underline;
}
.footer-kolona a{
    color: #ccc;
}
.socijalne-mreze a{
    color: #F6EEE0;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}
.socijalne-mreze a:hover{
    color: #A45C40;
}
.footer-dno{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #A45C40;
    padding-top: 10px;
    font-size: 12px;
}
.footer-kolona img{
    width: 80px;
    height: auto;
}
.section-title{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin: 50px 0px 20px 0px;
}
.section-divider{
    border: 0;
    height: 2px;
    background-color: rgb(63, 60, 60);
    width: 15%;
    margin: 0px auto 10px auto;
}
.icon-home{
    font-size: 30px;
}
.welcome-message {
    color: #7e5348;
    font-size: 25px;
    line-height: 1.6;
    text-align: center;
    margin: 0px auto;
}
.welcome-highlight{
    font-weight: bold;
    color: #A45C40;
    font-size: 40px;
    display: block;
    text-align: center;
}
.title{
    color: #583a32;
    font-size: 36px;
    font-weight: bold;
}

/*Kategorije*/
.category-title {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    margin-top: 0px;
}

.category-heading {
    font-size: 36px;
    font-weight: bold;
    color: #583a32;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.category-description {
    font-size: 18px;
    color: #777;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
#header-container{
    width: 100%;
    height: 100px;
}


/*Galerija*/
.gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 50px 0px;
}
.gallery-item{
    display: flex;
    justify-content: space-evenly;
}
.gallery-item img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}
.gallery-item img:hover{
    transform: scale(110%);
    transition: 2s ease;

}


/*Kontakt*/
#contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #583a32;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
}
#contact-container h2 {
    font-size: 24px;
    color: #583a32;
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    width: 100%;
    padding: 10px;
    background-color: #583a32;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
form button:hover {
    background-color: #a45c40;
}



 /*Narudžbina*/
 #order-container{
    max-width: 600px;
    margin: 47px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f2ec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
form label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
form input,
form textarea,
form select{
    background-color: #fff7f2;
    color: #583a32;
    border: 1px solid #a45c40;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
form input:focus,
form textarea:focus,
form select:focus{
    background-color: #ffece0;
    border-color: #583a32;
    outline: none;
    box-shadow: 0 0 4px rgba(88, 58, 50, 0.5);
}
form button{
    background-color: #a45c40;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
form button:hover{
    background-color: #583a32;
}
input, textarea{
    width: 100%;
}
#order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#order-form input{
    width: 300px;
}
h2{
    text-align: center;
}
textarea{
    width: 390px;
}



/*O autoru*/
#slika{
    float: left;
    width: 350px;
    height: 500px;
    border: 3px solid #e4b7a0f1;
    border-radius: 50px;
    margin: 20px 0px 20px 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    position: static;
    
}
#slika img{
    width: 330px;
    height: auto;
    border-radius: 50px;
}
#text1{
    border: 3px solid #e4b7a0f1;
    border-radius: 50px;
    float: right;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 100px 0px 0px;
}
.cleaner{
    clear: both;
}